<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"  rel="stylesheet" />
    <title> {{ title }} </title>

    <style>
        a.active{
            background-color: skyblue;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="fas fa-meteor"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
        <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
         <!-- Оставил ссылку на главную -->
         <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/">Главная</a>
            </li>
            <!-- остальные заменил на цикл по типам -->
            {% for type in types %}
                <li class="nav-item">
                    <!-- type.type  выдает тип, 
                           а добавление |title делает первую букву с слова большой  -->
                    <a class="nav-link" href="/?type={{ type.type }}">{{ type.type|title }} </a>
                </li>
            {% endfor %}
        </ul>
        </div>
        </div>
        </nav>



    {% block content %}
        пустота
    {% endblock %}
</body>
</html>