{% extends "__object.twig" %}

{% block objectContent %}
<ul class="nav nav-pills" style="margin-top: 20px; padding:25px">
    <li class=" d-flex flex-row">
        <img src={{ image }} style="width: 600px; border: 1px solid black; padding: 4px; margin-top: 5px;" class="nav-link">
    </li>
</ul>
{% endblock %}