{% extends "__object.twig" %}
{% block objectContent %}
    <div style="border: 1px solid black; padding: 4px; margin-top: 5px; width: 500px; margin-left:305px;">
        Родом из затерянной страны Новой Зеландии и выросший в австралийской глуши, снайпер - жестокий и расчётливый стрелок. На поле боя главная роль снайпера - выводить из игры стратегически важные цели противника, используя свою снайперскую винтовку и целясь точно в голову, мгновенно убивая при этом любого противника. Крайне эффективен в дальнем бою и довольно слаб в ближнем, что вынуждает его использовать Кукри или Пистолет-пулемёт. 
   
    </div>        
{% endblock %}