{% extends "__object.twig" %}
{% block objectContent %}
    <div style="border: 1px solid black; padding: 4px; margin-top: 5px; width: 500px; margin-left:305px;">
        Являясь по происхождению французом, шпион предпочитает носить стильные костюмы, использовать острые ножи и полагаться на скрытность и неожиданность, чтобы помогать своей команде. Обладая способностями к полному исчезновению или имитации собственной смерти, шпион может одурачить любого врага. Его маскировочный набор позволяет принять облик любого класса для беспрепятственного проникновения на территорию врага, чтобы затем расправиться с ничего не подозревающими 'союзниками'. Один удар в спину - и любой противник будет повержен.
    </div>
{% endblock %}